@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Animal Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type), @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name), @Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date), @Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed).<h3>
<p>@Html.ActionLink("Back to list", "Index")</p>